@page "/wechatarticles"
@using ParseWechatArticles.Data
@using AngleSharp
@using AngleSharp.Html.Dom
@using AngleSharp.Dom
@inject HttpClient Http

<PageTitle>Wechat Articles Parser</PageTitle>

<p>@debug</p>

@if (imgDebug == null) {
    <p>imgDebug</p>
} 
else {
    @foreach (var img in imgDebug) {
        @img
    }
}

@code {
    private string? debug = "debug";
    private List<string> imgDebug;
    protected override async Task OnInitializedAsync()
    {
        var htmlRes = await Http.GetAsync("https://mp.weixin.qq.com/s/rPR7AnnbtIRMQ3opXy2hzA");
        var htmlRaw = await htmlRes.Content.ReadAsStringAsync();
        
        IConfiguration config = Configuration.Default;
        IBrowsingContext context = BrowsingContext.New(config);
        IDocument document = await context.OpenAsync(req => req.Content(htmlRaw));

        var imgElements = document.GetElementsByClassName("rich_pages").ToList();
        imgDebug = new List<string> {"123", "456"};
        //document.Images
        foreach (var imgElement in imgElements) 
        {
            var img = imgElement as IHtmlImageElement;
            imgDebug.Add(img.Source);
        }
    }
}
